@model int
@{
    var steps = new[] { "Items & Details", "Preferences", "Review & Confirm" };
}
<div class="fa-stepper">
    @for (var i = 0; i < steps.Length; i++)
    {
        var stepNum = i + 1;
        var css = stepNum < Model ? "fa-step done" : stepNum == Model ? "fa-step active" : "fa-step";
        <div class="@css">
            <div class="fa-step-dot">
                @if (stepNum < Model)
                {
                    <i class="fas fa-check" style="font-size:0.7rem;"></i>
                }
                else
                {
                    @stepNum
                }
            </div>
            <div class="fa-step-label">@steps[i]</div>
        </div>
    }
</div>
