@using IndorMvcApp.Helpers
@{
    var hfPreview = ViewBag.HouseFactPreview as bool? == true;
    var propiedadId = ViewBag.PropiedadId as int? ?? 0;
    var backUrl = HomeNavigationUrls.ResolveHouseFactBackUrl(
        Url,
        Context.Session,
        ViewBag.MyHomeBackUrl as string,
        ViewBag.HouseFactReturnUrl as string,
        hfPreview,
        propiedadId);
}
<a href="@backUrl" class="app-back-btn" aria-label="@L["Back"]">
    <i class="fas fa-chevron-left"></i>
</a>
