@model IndorMvcApp.ViewModels.HouseFactCategoryCardViewModel
<div class="hf-category-icon"><i class="fas @Model.Icon"></i></div>
<div class="hf-category-body">
    <div class="hf-category-title">@Model.Title</div>
    <div class="hf-category-subtitle">@Model.Subtitle</div>
    <span class="hf-category-badge">@Model.Badge</span>
</div>
<i class="fas fa-chevron-right hf-category-arrow"></i>
