@model IndorMvcApp.ViewModels.HouseFactCategoryCardViewModel
<div class="hf-category-icon"><i class="fas @Model.Icon"></i></div>
<div class="hf-category-body">
    <div class="hf-category-title">@UiDisplayLocalization.Localize(L, Model.Title)</div>
    <div class="hf-category-subtitle">@UiDisplayLocalization.Localize(L, Model.Subtitle)</div>
    <span class="hf-category-badge">@UiDisplayLocalization.Localize(L, Model.Badge)</span>
</div>
<i class="fas fa-chevron-right hf-category-arrow"></i>
