@using IndorMvcApp.Localization
@{
    var stepModel = Model as IndorMvcApp.ViewModels.RealtorInviteStepViewModel;
    var pageTitle = stepModel?.Title ?? "Invite Client";
}
<!DOCTYPE html>
<html lang="@UiCulture.HtmlLang(L.CurrentCulture)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#0066CC" />
    <title>@L[pageTitle] - INDOR</title>
    @await Html.PartialAsync("_RealtorPortalHead")
</head>
<body class="rl-dash-page">
    <div class="rl-invite-shell">
        @if (stepModel != null)
        {
            @await Html.PartialAsync("_InviteStepper", stepModel)
        }
        @RenderBody()
    </div>
    @await Html.PartialAsync("~/Views/Realtor/_RealtorBottomNav.cshtml")
    <script src="~/js/phone-input.js" asp-append-version="true"></script>
    <script src="~/js/zip-input.js" asp-append-version="true"></script>
    <script src="~/js/realtor-invite-client.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
